* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

h1 {
    color: transparent;
    font-size: 85px;
    letter-spacing: 5px;
    background: linear-gradient(to right, #000, #fff, #000);
    -webkit-background-clip: text;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    animation: animate 2.5s linear infinite;
}

@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}