* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    position: relative;
}

.battery {
    width: 200px;
    height: 320px;
    background-color: #fff;
    border-radius: 10px 10px 5px 5px;
    position: relative;
}

.battery::before {
    content: "";
    width: 50px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -25px;
    border-radius: 5px 5px 0 0;
}

.battery::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 90%;
    bottom: 0;
    border-radius: 10px 10px 5px 5px;
    background: linear-gradient(to bottom, #04e963 0%, #0bdf9f 44%, #0bdfc3 100% );
    animation: animate 10s linear infinite;

}

@keyframes animate {
    0% {
        top: 100%;
        border-radius: 0 0 5px 5px;
        filter: hue-rotate(90deg);
    }
    95% {
        top: 5%;
        border-radius: 0 0 5px 5px;
    }
    100% {
        top: 0%;
        filter: hue-rotate(0deg);
    }
}